<div class="container-mod about-body">
	<!-- Header... Apears complete? -->
	<div class="valign-wrapper row">
		<div class="col s2 m2 l2 valign">
				<img class="responsive-img hide-on-med-and-down" src="Assets/imgs/Screen Shot 2016-11-15 at 12.42.48 PM.png" alt="" />
		</div>
		<div class="col s10 m10 l10 pull-m1 pull-s1">
			<div class="row no-btm-margin">
				<h1 class="resume-Name">Shea Close</h1>
			</div>
			<div class="row no-btm-margin">
				<h5 class="">WEB DEVELOPER - DALLAS, TX</h5>
			</div>
			<div class="row no-btm-margin">
				<span>(817) 201-9261</span>
				<span><a class="teal-text text-darken-3" href="mailto:SheaClose@gmail.com">SheaClose@gmail.com</a></span>
				<span><a class="teal-text text-darken-3" href="https://github.com/SheaClose">github.com/SheaClose</a></span>
				<span><a class="teal-text text-darken-3" href="https://sheaclose.github.io">SheaClose.github.io</a></span>
			</div>
		</div>
	</div>
	<!-- Profile -->
	<div class="row profile-box">
		<div class="col s12 m4 l4 offset-m4 offset-l4 header-box white-text center center-align">
			<h6>PROFILE</h6>
		</div>
		<div class="container-box">
			First and foremost, I am a maker. My work history is filled with careers focused on creation. I have remodeled houses from the studs out. I have decorated wedding cakes. As hobbies, I make music in bands, I brew beer, I create movie prop replicas. I am now proficient in the MEAN stack, and am happy to say I make code.
		</div>
	</div>
	<!-- work/skills -->
	<div class="row">
		<div class="col s12 m6 l6 row profile-box">
			<div class="col s12 m8 l8 offset-m2 offset-l2 header-box white-text center center-align">
				<h6>WORK EXPERIENCE</h6>
			</div>
			<div class="container-box-half">
				<p>
					Pat Neff & Assoc   •   REO Inspector   •   2014 - 2016
				</p>
				<BLOCKQUOTE>
					<p class="work-text">
						• Inspected 500 properties, in foreclosure process, monthly.<br>
						• Reported on occupation and condition of properties.<br>
						• Average completion time for work was 48 hours ahead of deadline for turnaround.
					</p>
				</BLOCKQUOTE>
				<p>
					CoreLogic   •   Inspections QA   •   2011 - 2014
				</p>
				<BLOCKQUOTE>
					<p class="work-text">
						• Reviewed inspections to ensure accuracy before delivery to clients.<br>
						• Averaged 10% over quota for daily inspections reviewed.<br>
						• Served as subject matter expert for offshore team.
					</p>
				</BLOCKQUOTE>
			</div>
		</div>
		<div class="col s12 m6 l6 row profile-box">
			<div class="col s12 m8 l8 offset-m2 offset-l2 header-box white-text center center-align">
				<h6>SKILLS</h6>
			</div>
			<div class="container-box-no-border">
					<div class="skill-list">
						<p class="line-spacing">
							JavaScript - es5/es6 <span class="right"><img class="hide-on-med-and-down" src="./Assets/imgs/100.png"></span><br>
							CSS/Materialize/Bootstrap <span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/70.png"></span><br>
							HTML5 <span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/90.png"></span><br>
							Jquery <span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/70.png"></span><br>
							Angular <span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/90.png"></span><br>
							Node.js <span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/90.png"></span><br>
							Express <span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/90.png"></span><br>
							MongoDb <span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/70.png"></span><br>
							WebPack <span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/70.png"></span><br>
							PassPort/Oauth<span class="right"><img class="hide-on-med-and-down" src="Assets/imgs/70.png"></span>
						</p>
					</div>
			</div>
		</div>
	</div>
	<!-- Projects -->
	<div class="row profile-box">
		<div class="col s12 m4 l4 offset-m4 offset-l4 header-box white-text center center-align">
			<h6>PROJECTS</h6>
		</div>
		<div class="container-box projects-body">
			<p>
				<a href="https://github.sheaclose.io/">Bender</a> - Craft beer & Brewery locator<br>
				<BLOCKQUOTE>• Used REST Db queries to obtain brewery and craft beer information to display on a map showing user's location<br>
				• Created using AngularJs, Angular-google-maps, and Bootstrap.<br></BLOCKQUOTE>
			</p>
			<p>
				<a href="http://DogCompanyDtx.com">Dog Company</a> - Band portfolio & E-commerce<br>
				<BLOCKQUOTE>• Band website which provides contact for booking agents, media for fans, and a store for purchasing
					Merchandise.<br>
				• Created using MEAN Stack, WebPack, MaterializeCss, ES6, Jquery.<br></BLOCKQUOTE>
			</p>
			<p>
				<a href="http://104.236.5.8/">Alien-Hunt</a> - 8-bit web based video game<br>
					<BLOCKQUOTE>• Video game inspired by the game play of Duck Hunt.<br>
					• Created using MEAN Stack, WebPack, PixiJs, ES6, Jquery, Facebook-Passport.<br></BLOCKQUOTE>
			</p>
		</div>
	</div>
	<!-- Education -->
	<div class="row profile-box">
		<div class="col s12 m4 l4 offset-m4 offset-l4 header-box white-text center center-align">
			<h6>EDUCATION</h6>
		</div>
		<div class="container-box">
			<a href="https://devmountain.com/">DevMountain</a> - Aug-Nov 2016
			  <p>
					<BLOCKQUOTE>
						• 12 week, immersive, web-development program focused on MEAN stack.<br>
						• Gained working knowledge of JavaScript, HTML/CSS, Jquery, Angular, Mongo, Node, Express, and                    Git/Github.<br>
						• Through class projects, gained working knowledge of Materialize CSS/Bootstrap, WebPack, OAuth.
					</BLOCKQUOTE>
			  </p>
		</div>
	</div>
</div>
