<div class="container home-container">
  <h1 class="center-align">
			Shea Close
		</h1>
  <p class="center-align web-dev">
    Web Developer
  </p>
</div>
<div class="container">
  <div class="center-align links link-pictures">
    <div class="row">
      <div class="col s12 m4 l4">
        <a class="teal-text text-darken-3" ui-sref="about">
          <p>about</p><img class="responsive-img my_circle box_shadow" src="./Assets/imgs/12_b.jpg" alt="" /></a>
      </div>
      <div class="col s12 m4 l4">
        <a class="teal-text text-darken-3" ui-sref="projects">
          <p>projects</p><img class="responsive-img my_circle box_shadow" src="./Assets/imgs/code.png" alt="" /></a>
      </div>
      <div class="col s12 m4 l4">
        <a class="teal-text text-darken-3" ui-sref="personal">
          <p>personal</p><img class="responsive-img my_circle box_shadow" src="./Assets/imgs/Shealevel2.jpg" alt="" /></a>
      </div>
    </div>
  </div>
</div>

<my-nav id="home-footer"></my-nav>
