<div class="container home-container">
		<h1 class="center-align">
			Shea Close
		</h1>
		<p class="center-align web-dev">
			Web Developer
		</p>
</div>
<div class="container">
	<div class="center-align links link-pictures">
		<div class="row">
			<div class="col s4 m4 l4"><a class="teal-text text-darken-3" ui-sref="about">about<img class="responsive-img circle" src="./Assets/imgs/12_b.jpg" alt="" /></a></div>
			<div class="col s4 m4 l4"><a class="teal-text text-darken-3" ui-sref="projects">projects<img class="responsive-img circle" src="./Assets/imgs/Screen Shot 2016-11-14 at 8.18.38 PM.png" alt="" /></a></div>
			<div class="col s4 m4 l4"><a class="teal-text text-darken-3" ui-sref="personal">personal <img class="responsive-img circle" src="./Assets/imgs/Shealevel2.jpg" alt="" /></a></div>
		</div>
	</div>
</div>
