<div class="container-mod">
	<div class="row">
		<div class="col s6 m4 l4 projects-left">
			<h3>Alien-Hunt</h3><hr>
			<p>
				Alien Hunt was a collaborative project between myself and three other Students. The entirety of the Server and Database work was completed by myself.
			</p>
			<p>
				The application was created using Angular for the front-end; MongoDb via Mongoose to create temporary users with Express-Sessions and permanent users with Passport-Facebook.
			</p>

		</div>
		<div class="projects-right">
			<div class="col s6 m8 l8">
				<div class="row">
					<div class="col s6 m4 l4">
						<a class="waves-effect waves-light">
							<img class="responsive-img" src="Assets/imgs/AlienHuntHome.png" alt="" />
						</a>
					</div>
					<div class="col s6 m4 l4">
						<img class="responsive-img" src="Assets/imgs/AlienHuntLogin.png" alt="" />
					</div>
					<div class="col s6 m4 l4">
						<img class="responsive-img" src="Assets/imgs/AlienHuntDefault.png" alt="" />
					</div>
				</div>
				<div class="row">
					<div class="col s6 m4 l4">
						<img class="responsive-img" src="Assets/imgs/AlienHuntSW.png" alt="" />
					</div>
					<div class="col s6 m4 l4">
						<img class="responsive-img" src="Assets/imgs/AlienHuntGO.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="modal1" class="modal">
	<div class="modal-content">
		<img class="responsive-img" ng-src='pictureSource' alt="" />
	</div>
</div>
