<div class="carousel carousel-slider center projects-page" data-indicators="true">
	<div class="carousel-fixed-item center">
		<a href="https://sheaclose.github.io/Bender/#/"><button class="btn waves-effect grey black-text">Visit Page</button></a>
	</div>
  <div class="carousel-item black white-text" href="#one!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.19.07 PM.png" alt="" />
  </div>
  <div class="carousel-item black white-text" href="#two!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.19.44 PM.png" alt="" />
  </div>
  <div class="carousel-item black white-text" href="#three!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.20.04 PM.png" alt="" />
  </div>
  <div class="carousel-item black white-text" href="#four!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.20.24 PM.png" alt="" />
  </div>
</div>
<div class="carousel carousel-slider center projects-page" data-indicators="true">
	<div class="carousel-fixed-item center">
		<a href="http://104.236.5.8/#/"><button class="btn waves-effect grey black-text">Visit Page</button></a>
	</div>
  <div class="carousel-item black white-text" href="#one!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.44.41 PM.png" alt="" />
  </div>
  <div class="carousel-item black white-text" href="#two!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.45.05 PM.png" alt="" />
  </div>
  <div class="carousel-item black white-text" href="#three!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.46.11 PM.png" alt="" />
  </div>
	<div class="carousel-item black white-text" href="#four!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.46.35 PM.png" alt="" />
  </div>
	<div class="carousel-item black white-text" href="#five!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 8.47.17 PM.png" alt="" />
  </div>
</div>
<div class="carousel carousel-slider center projects-page" data-indicators="true">
	<div class="carousel-fixed-item center">
		<a href="http://DogCompanyDtx.com/#/"><button class="btn waves-effect grey black-text">Visit Page</button></a>
	</div>
  <div class="carousel-item black white-text" href="#one!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 7.39.57 PM.png" alt="" />
  </div>
  <div class="carousel-item black white-text" href="#two!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 7.43.24 PM.png" alt="" />
  </div>
  <div class="carousel-item black white-text" href="#three!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 7.43.37 PM.png" alt="" />
  </div>
  <div class="carousel-item black white-text" href="#four!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 7.49.00 PM.png" alt="" />
  </div>
	<div class="carousel-item black white-text" href="#five!">
		<img src="Assets/imgs/Screen Shot 2016-11-15 at 7.44.03 PM.png" alt="" />
	</div>
</div>
