html {
	background: url("./imgs/background.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: #4A4A48;
	font-family: 'Muli', sans-serif;
}
.home-container {
	margin-top: 20vh;
}
/*.link-pictures{
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 2.5vh;
}*/
main {
	flex: 1 0 auto;
}
.about-body{
	padding: 25px;
	background-color: rgba(250, 250, 250, 0.7);
	border-radius: 2vh;
}
.links {
	margin-top: 5vh;
}
footer {
	background-color: rgb(164, 194, 165);
}
.page-footer {
	background-color: rgb(164, 194, 165);
}
.soc-logo{
	margin-left: 2vh;
	margin-right: 1vh;
	height: 3vh;
}
.resume-Name {
	margin: 3vh 0 0 0;
}
.profile-box{
	margin-top: 30px;
}
.no-btm-margin{
	margin-bottom: 0;
}
.header-box {
	background-color: black;
	width: 30vw;
	margin-top: -10px;
	height: 30px;
}
.container-box {
	border: solid 4px black;
	padding: 40px 10px 10px 10px;
}
.projects-body b{
	font-weight: bold;
}
BLOCKQUOTE{
	border-left: 5px solid transparent;
}
.container-box-no-border{
	padding: 40px 10px 50px 10px;
	min-height: 40vh;
}
.skill-list {
	margin-top: -14px;
}
.container-box-half {
	border: solid 4px black;
	padding: 40px 10px 10px 10px;
	min-height: 40vh;
}
.work-text {
	font-size: .75em;
}
.container-mod {
  margin: 5vh auto;
  max-width: 1280px;
  width: 90%;
}
.project-photos{
	margin-top: 20px;
}
@media only screen and (min-width: 601px) {
  .container-mod {
    width: 90%;
  }
	.project-photos{
		margin-top: 20px;
	}
}

@media only screen and (min-width: 993px) {
  .container-mod {
    width: 90%;
  }
	.project-photos{
		margin-top: 0px;
	}
}
.line-spacing{
	line-height: 190%;
}
.projects-container{

}
.projects-left{
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 10px;
}
.mySlides {
	width: 100%;
}
.page-options{
	margin-top: -4px;
	background-color: rgba(250, 250, 250, 0.5);
}
.round-img{
	border-radius: 10px;
}
