html {
  background: url("./imgs/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #4A4A48;
  font-family: 'Muli', sans-serif;
}

.home-container {
  margin-top: 15vh;
}
.my_circle{
  border-radius: 50%;
}
.border_radius{
  border-radius: 15px;
}
.marg_15{
  margin-top: 15px;
}
/*.link-pictures{
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 2.5vh;
}*/
.box_shadow{
  box-shadow: 3px 3px 7.5px #2f2f2f; 
}
main {
  flex: 1 0 auto;
}

.about-body {
  padding: 25px;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 2vh;
}

.links {
  margin-top: 5vh;
}

.page-footer {
  background-color: rgb(164, 194, 165);
  padding-top: 8px;
  padding-right: 10px;
}

.soc_logo_container {
  display: flex;
  justify-content: space-around;
}

.soc-logo {
  /*margin-left: 2vh;*/
  /*margin-right: 1vh;*/
  height: 3vh;
}

.resume-Name {
  margin: 3vh 0 0 0;
}

.profile-box {
  margin-top: 30px;
}

.no-btm-margin {
  margin-bottom: 0;
}

.header-box {
  background-color: black;
  width: 30vw;
  margin-top: -10px;
  height: 30px;
}

.container-box {
  border: solid 4px black;
  padding: 40px 10px 10px 10px;
}

.projects-body b {
  font-weight: bold;
}

BLOCKQUOTE {
  border-left: 5px solid transparent;
}

.container-box-no-border {
  padding: 40px 10px 50px 10px;
  min-height: 40vh;
}

.skill-list {
  margin-top: -14px;
}

.container-box-half {
  border: solid 4px black;
  padding: 40px 10px 10px 10px;
  min-height: 40vh;
}

.work-text {
  font-size: .75em;
}

.container-mod {
  margin: 5vh auto;
  max-width: 1280px;
  width: 90%;
}

.project-photos {
  margin-top: 20px;
}

@media only screen and (min-width: 601px) {
  .container-mod {
    width: 90%;
  }
  .project-photos {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 993px) {
  .container-mod {
    width: 90%;
  }
  .project-photos {
    margin-top: 0px;
  }
}

.line-spacing {
  line-height: 190%;
}

.projects-container {}

.projects-left {
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.mySlides {
  width: 100%;
}

.page-options {
  margin-top: -4px;
  background-color: rgba(250, 250, 250, 0.5);
}

.round-img {
  border-radius: 10px;
}

#home-footer {
  position: fixed;
  top: 0;
  width: 100vw;
}

.pagination {
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 4px;
  color: black;
  padding: 5px;
  color: #4A4A48;
}

.pagination a {
  color: black;
}


/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


/* latin */

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(../zscZFkjVRGyfQ_Pw-5exXPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

iframe {
  min-height: 75vh;
  width: 100%;
  border-radius: 10px;
}

.myFlex {
  display: flex;
  justify-content: space-between;
}

.project_links_container {
  margin: 0 auto;
  width: 85vw;
}

.project_links {
  display: flex;
  justify-content: space-around;
}

.project_title {
  font-size: 1.1rem;
  text-decoration: underline;
}
